@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";

@layer {
  html {
    font-family: 'Quicksand', sans-serif;
  }
}

@theme {
  --color-morado: #DD8FFA;
  --color-blanco: #F3F4F6;
  --color-gris: #D6D6D6;
  --color-verde: #17854A;
  --color-azuloscuro: #178582;
  --color-rojooscuro: #851752;
  --color-azulfondo: #222945;
  --color-negrofondo: #1A1A1D;
  --color-negrohover: #29292B;
  --color-azultarjeta: #1B3B7D;
  --color-moradotarjeta: #6D44E0;
  --color-azulestudiostitulo: #0F5E5C;
  --color-azulestudiosfondo: #178582;
  --color-rojotrabajostitulo: #5E0F3A;
  --color-rojotrabajosfondo: #851752;
  --color-azultitulosfondo: #252D47;
  --color-rosa: #EE6DA7;
}

:root { 
  --swiper-theme-color: #fff !important;
  --swiper-pagination-bullet-inactive-color: #cccccc;
}
body {
  /* background-image: url('/Fondo.png');
  background-size: cover; */
  background: linear-gradient(to right, #222945 0%, #0E101C 100%);
}



.swiper-slide {
  display: flex !important;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}