@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@layer {
  html {
    font-family: 'Quicksand', sans-serif;
  }
}

@theme {
  --font-titulos: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --breakpoint-xlg: 1224px;
  --color-morado: #DD8FFA;
  --color-blanco: #F3F4F6;
  --color-gris: #D6D6D6;
  --color-verde: #17854A;
  --color-azuloscuro: #178582;
  --color-rojooscuro: #851752;
  --color-azulfondo: #222945;
  --color-negrofondo: #1A1A1D;
  --color-negrohover: #29292B;
  --color-azultarjeta: #1B3B7D;
  --color-moradotarjeta: #6D44E0;
  --color-azulestudiostitulo: #0F5E5C;
  --color-azulestudiosfondo: #178582;
  --color-rojotrabajostitulo: #5E0F3A;
  --color-rojotrabajosfondo: #851752;
  --color-azultitulosfondo: #252D47;
  --color-rosa: #EE6DA7;
  --color-rosaIcono: #D45C95;
  --color-titulos: #F5EEFF;
  --color-letraTitulos: #4B1D6E;
  --color-rosaBoton: #7117EA;
  --color-rosaPalido: #fcbccb;
  --color-moradoLetra: #c6a7fe;
  --background-image-gradienteTitulo: linear-gradient(to right, #7117EA, #EA6080);
  --background-image-gradienteBarra: linear-gradient(to right, #662D8C, #ED1E79);
  --background-image-gradienteBoton: linear-gradient(to right, #FF61D2, #FE9090)
}

:root {
  --swiper-theme-color: #fff !important;
  --swiper-pagination-bullet-inactive-color: #cccccc;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-image: url('/Nuevo_Fondo.png');
  background-size: cover;
  background-position: center; */
  /* background: linear-gradient(to right, #222945 0%, #0E101C 100%); */
  background-color: hsla(266, 57%, 5%, 1);
  background-image:
    radial-gradient(at 0% 100%, hsl(265, 61%, 11%) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(265, 66%, 19%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(264, 58%, 27%, 1) 0px, transparent 50%);
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.gradienteTitulo {
  background: linear-gradient(to right, #7117EA, #EA6080);

  /* 2. Recortamos el fondo para que siga la forma del texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 3. Hacemos que el color original del texto sea transparente */
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.gradienteTituloAzul {
  background: linear-gradient(to right, #6078EA, #fcbccb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.6s ease-in-out;
}

.barraSelector {
  position: relative;
}

.barraSelector::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #fcbccb;
  transition: width 0.3s ease;
}

.barraSelector:hover::before {
  width: 100%;
}
