@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";

@layer {
  html {
    font-family: 'Quicksand', sans-serif;
  }
}

@theme {
  --color-morado: #DD8FFA;
  --color-blanco: #F3F4F6;
  --color-gris: #D6D6D6;
  --color-verde: #17854A;
  --color-azuloscuro: #178582;
  --color-rojooscuro: #851752;
  --color-azulfondo: #222945;
  --color-negrofondo: #1A1A1D;
  --color-azultarjeta: #1B3B7D;
}

:root { 
  --swiper-theme-color: #fff !important
}
body {
  background: linear-gradient(to bottom, #222945 0%, #161A29 50%, #0E101C 100%);
}